.cabeçalho__menu-hamburguer{
    width: 24px;/*largura do ícone*/
    height: 24px/*altura do ícone*/
    display: inline-block;/*exibe o ícone como um bloco inline*/
    background-image: url("../img/menu.svg");/*define a imagem do fundo*/
    background-repeat: no-repeat;/*impede que a imagem de fundo seja repetida*/
    background-position:center;*/center;/*centraliza a imagem de fundo do bloco*/
}
.cabeçalho{

    background-color: var(--branco);/* defina a cor de fundo de cabeçalho*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    
    }
    .conteiner{
    display: flex; /* define o layout do contêiner como flexbox*/
    align-items: center;

    }

    .conteiner__imagem{
        padding: 1em;/*adiciona um espaçamento ao redor da imagem/*
    }